<%= render 'shared/header', title: "Purchases", back: categories_path %>

<% if @purchases.empty? %>
    <h2>No purchase found for this category.</h2>
<% else %>
    <section>
        <div class="totalPurchase">
            <span>Total amount: </span>
            <span><%= number_to_currency(@total) %></span>
        </div>
        <div class="category">
            <span><%= @category.icon %></span>
            <span><%= @category.name %></span>
        </div>
        <ul>
            <% @purchases.each do |purchase| %>
                <li class="purchase">
                    <span><%= purchase.name %></span>
                    <span><%= number_to_currency(purchase.amount) %></span>
                </li>
            <% end %>
        </ul>
    </section>
<% end %>

<div class="addLink">
    <%= link_to "Add Purchase", new_category_purchase_path(@category.id) %>
</div>

