<%= render 'shared/header', title: "Purchases", back: true %>

<% if @purchases.empty? %>
    <h2>No purchase found for this category.</h2>
<% else %>
    <p>Total amount: <%= @total %></p>
    <ul>
        <% @purchases.each do |purchase| %>
            <li>
                <div><%= purchase.name %></div>
                <div><%= purchase.amount %></div>
            </li>
        <% end %>
    </ul>
<% end %>

<%= link_to "Add Purchase", new_category_purchase_path(@category.id) %>


