<%= render 'shared/header', title: "Purchases", back: categories_path %>

<% if @purchases.empty? %>
    <section>
        <div class="purchase-category">
            <span><%= @category.icon %></span>
            <span><%= @category.name %></span>
            <%= button_to icon('fa-solid fa-trash'), category_path(@category), method: :delete, class: 'delBtn' %>
        </div>
        <h2>No purchase found for this category.</h2>
    </section>
<% else %>
    <section>
        <div class="purchase-category">
            <span><%= @category.icon %></span>
            <span><%= @category.name %></span>
            <%= button_to icon('fa-solid fa-trash'), category_path(@category), method: :delete, class: 'delBtn' %>
        </div>
        <ul class="purchase-ul">
            <% @purchases.each do |purchase| %>
                <li class="purchase">
                    <span><%= purchase.name %></span>
                    <span><%= number_to_currency(purchase.amount) %></span>
                    <span class="date">
                        <i class="fa-solid fa-calendar-days"></i>
                        <%= purchase.created_at.strftime('%d-%m-%Y') %>
                    </span>
                </li>
            <% end %>
        </ul>
        <div class="total-amount">
            <span>Total amount: </span>
            <span><%= number_to_currency(@total) %></span>
        </div>
    </section>
<% end %>

<div class="btn">
    <%= link_to "Add Purchase", new_category_purchase_path(@category.id) %>
</div>

