<%= render 'shared/header', title: "add purchase", back: category_purchases_path %>

<%= form_with model: @purchase, url: category_purchases_path do |f| %>
    <article>
        <div>
            <%= f.text_field :name, placeholder: "Purchase item name: ", required: true %>
        </div>

        <div>
            <%= f.number_field :amount, placeholder: 'Amount in USD: ', required: true, value: nil %>
        </div>

    </article>
    <div class="btn">
        <%= f.submit "Create Purchase" %>
    </div>
<% end %>
