<%= render 'shared/header', title: "add purchase", back: category_purchases_path %>
<%= render 'shared/flash' %>

<%= form_with model: @purchase, url: category_purchases_path do |f| %>
    <div>
        <%= f.label :name, "Name:" %>
        <%= f.text_field :name, required: true %>
    </div>

    <div>
        <%= f.label :amount, "Amount:" %>
        <%= f.number_field :amount, placeholder: '0', required: true %>
    </div>

    <div>
        <%= f.submit "Add Purchase" %>
    </div>
<% end %>
