<% if user_signed_in? %>
<nav class="sideMenu">
  <div>
    <i class="fa-solid fa-circle-user"></i>
    <p><%= current_user.name %></p>
  </div>
  <ul>
    <li>
      <%= icon("fa-solid fa-user-plus") %>
      <%= link_to icon('fa-solid fa-user'), edit_user_registration_path %>
    </li>
    <li><%= link_to icon('fa-solid fa-cog'), edit_user_registration_path %></li>
    <li><%= link_to icon('fa-solid fa-sign-out'), destroy_user_session_path, method: :delete %></li>
  </ul>
</nav>
<% end %>