<% if user_signed_in? %>
<nav class="sideMenu">
  <div class="userInfo">
    <i class="fa-solid fa-circle-user"></i>
    <p><%= current_user.name %></p>
  </div>
  <ul>
    <li>
      <i class="fa-solid fa-cog"></i>
      <%= link_to "Acount Settings" %>
    </li>
    <li>
      <i class="fa-solid fa-code"></i>
      <%= link_to "Source Code", edit_user_registration_path %>
    </li>
    <li>
      <i class="fa-brands fa-github"></i>
      <%= link_to "Author Profile", edit_user_registration_path %>
    </li>
    <li>
      <i class="fa-solid fa-sign-out"></i>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</nav>
<% end %>