<%= render 'shared/header', title: "categories", back: false %>

<% if @categories.empty? %>
    <section>
        <div class="intro">
            <h3>Getting started?</h3>
            <p>TrackBudget is a simple app to track your budget. You can add categories to see how much you spent for that category by clicking <span>Add Category</span> button.</p>
            <p>When you click the category after you added, you can see the total purchases for that category and if you don't have any purchases yet, you can add purchase items by clicking <span>Add Purchase</span> button.</p>
            <span>Let's start by adding your first category.</span>
            <i class="fa-regular fa-hand-point-down"></i>
        </div>
    </section>
<% else %>
    <section>
        <ul>
            <% @categories.each do |category| %>
                <%= link_to category_purchases_path(category.id), class: 'categoryLinks' do %>
                    <li class="category">
                        <span><%= category.icon %></span>
                        <span><%= category.name %></span>
                        <span><%= number_to_currency(category.total) %></span>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </section>
<% end %>

<div class="btn">
    <%= link_to "Add Category", new_category_path %>
</div>
