<%= render 'shared/header', title: "add category", back: categories_path %>

<%= form_with model: @category do |f| %>
    <div>
        <%= f.label :name, "Name:" %>
        <%= f.text_field :name, required: true %>
    </div>

      <% options = [  ["ðŸ”"],
    ["ðŸ›’"],
    ["ðŸš—"],
    ["ðŸ¶"],
    ["ðŸ“š"],
    ["ðŸ’»"],
    ["ðŸŽ"],
    ["ðŸ "],
    ["ðŸ¥"],
    ["ðŸŽ¬"],
    ["ðŸ‘”"],
    ["ðŸŽ“"],
  ] %>

   <div>
        <%= f.label :icon %>
        <%= f.select :icon, options_for_select(options, selected: @category.icon), {prompt: "Select an icon" } %>
  </div>

    <div>
        <%= f.submit "Add category" %>
    </div>
<% end %>
